@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile_image {
  border-radius: 30% !important;
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

.profile_image_container {
  border-radius: 50% !important;
  height: 70% !important;
  width: 75% !important;
}
